<p id="notice"><%= notice %></p>

<div class="labelm"><h1>Integrantes</h1></div><br>
<div class="container">
<table class="table"> 
  <thead>
    <tr>
      <th><div class="label">Email</div></th>
      
      <th><div class="label">Password</div></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |integrant| %>
      <tr>
        <td><div class="labelb"><%= integrant.email %></div></td>
        <td><div class="labelb"><%= link_to 'Ver', user_path(id: user.id, project_id: @project.id) %></td>
        <td><div class="labelb"><%= link_to 'Editar', edit_user_path(integrant) %></div></td>
        <td><div class="labelb"><%= link_to 'Eliminar', integrant, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>



      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="label1"><%= link_to 'Nuevo Integrante', new_user_path(project_id: @project.id) %></div>
