<p id="notice"><%= notice %></p>

<div class="container">          
  <table class="table">
   <thead>
      <tr>
        <th><div class="label">Email</div></th>
        <th><div class="label">Contraseña</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="labelb"><%= @integrant.email %></div></td>
        <td><div class="labelb"><%= @integrant.password %></div></td>
</tr>
    </tbody>
  </table>
  </div>
</div>

<div class="label1"><%= link_to 'Editar', edit_user_path(id: @integrant.id, project_id: @integrant.project.id) %> |
<%= link_to 'Regresar', integrants_path(project_id: @integrant.project.id) %></div>

