<div class="container">
  <div class="panel-groupb">
    <div class="panel panel-info">
      <div class="panel-heading"><div class="labela"><h4>Proyectos</h4>
      </div>
      </div>
      <div class="panel-body">
<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <%= form.label :name %> 
    <div class="fielda">
    <%= form.text_field :name, id: :project_name %></div>
  
    <%= form.label :descripcion %>
    <div class="fielda">
    <%= form.text_field :descripcion, id: :project_descripcion %></div><br>
  
  <div class="actions">
    <%= form.submit "crear proshecto", class: "btn"%>
  </div>
  </div>
<% end %>
 </div>
 </div>
 </div>
 </div>
