<p id="notice"><%= notice %></p>


 <div class="container">          
  <table class="table">
    <thead>
      <tr>
        <th><div class="label">Nombre</div></th>
        <th><div class="label">Descripcion</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="labelb"> <%= @project.name %></div></td>
        <td><div class="labelb"><%= @project.descripcion %></div></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


<div class="label1"><%= link_to 'Editar', edit_project_path(@project) %> |
<%= link_to 'Regresar', projects_path %> |
<%= link_to 'Nueva tarea', tasks_path(project_id: @project.id) %>
  <%= link_to 'Integrantes', integrants_path %>
</div>
